@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$colores: (
  blanco: rgb(255, 255, 255),
  gris: rgb(231, 231, 231),
  negro: rgb(50, 50, 50)
);

*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: map-get($colores, gris);
}



@mixin navbar-nav-propio {
  background-color: map-get($colores, blanco);
  flex: 1;
  justify-content: space-around;
}

@mixin mixin-logo-tiendallica{
  margin: 0 auto;
  margin-top: $spacer;
  margin-bottom: $spacer*1.5;
}

@mixin mixin-pie-contenido{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tienda-por-dentro{
  width: 1100px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacer*1.5;
}

.navbar-nav {
  @include navbar-nav-propio;
}

main{
  div{
    div{
      display: flex;
      justify-content: center;
        .container-logo-tiendallica{
          @include mixin-logo-tiendallica;
      }
    }
  }
}

.pie-contenido {
  @include mixin-pie-contenido;
}

footer{
  div{
    div{
      p{
        color:map-get($colores, blanco);
      }
    }
  }
}

.tienda-por-dentro{
  @include tienda-por-dentro;
}

.imagen-tienda-por-dentro{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre-nosotros-parrafos{
  width: 85%;
}


footer{
  background-color: rgb(50, 50, 50);
  background: linear-gradient(0, rgb(100, 100, 100), rgb(50, 50, 50));
}

.logo-tienda-footer{
  transition: transform 1.6s ease-in-out;
}

.logo-tienda-footer:hover{
  transform: rotateY(360deg);
}

.nav-item.nav-link:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.logo-tiendallica{
  transition: transform 0.3s ease;
}

.logo-tiendallica:hover{
  transform: scale(1.1);
}
