<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Carrito</title>
</head>
<body>
        
    <header>    

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="../index.html">INICIO</a>
            <a class="nav-item nav-link" href="tienda.html">TIENDA</a>
            <a class="nav-item nav-link" href="carrito.html">CARRITO</a>
            <a class="nav-item nav-link" href="sobre_nosotros.html">SOBRE NOSOTROS</a>
            <a class="nav-item nav-link" href="#">CONTACTO</a>
          </div>
        </div>
      </nav>

    </header>

    <main>

        <div class="container mb-5">

            <div class="row col-lg-6 mx-auto mt-3 mb-4">
                <img src="../assets/img/logo_tiendallica.png" alt="logo_tiendallica">
            </div>

            
            <h5 class="mb-4">Contactate!</h5>

            <div class="row col-lg-10 mx-auto mb-4">

                <div class="col-lg-6">

                    <p>Tenes alguna duda, o alguna sugerencia?<p>
                    <p>Podes escribirnos y te estaremos respondiendo!<p>

                    <form method="post">

                        <label>NOMBRE:
                            <input type="text" name="nombre" placeholder="Ingrese su nombre">
                        </label>

                        <br>

                        <label for="email">EMAIL:</label>
                        <input type="text" name="email" id="email" placeholder="Ingrese su email">

                        <br>

                        <label for="mensaje">Escribinos tu mensaje:</label>
                        <textarea id="mensaje" cols="40" rows="20" placeholder="Escribi aca tu mensaje"></textarea>
                        
                        <br>

                        <button type="submit">ENVIAR</button>

                    </form>

                </div>

                <div class="col-lg-4 d-flex justify-content-end">
                    <img src="../assets/img/contacto_imagen_guitarra.png" alt="Guitarra_de_muestra" class="img-fluid">
                </div>

            </div>

        </div>

    </main>

    <footer>

      <div class="container-fluid">
        <div class="row col-lg-12 mx-auto pieContenido">
          <div class="col-lg-4 mx-auto pieIzquierda">
            <img src="../assets/img/logoTiendaFooter.png" alt="logo_miniatura_de_la_tienda" class="img-fluid logoTienda">
          </div>
          <div class="col-lg-4 mx-auto d-flex justify-content-center align-items-center" >
          <p class="copyright">Copyright</p>
          </div> 
          <div class="col-lg-4 mx-auto d-flex justify-content-end" >
          <i class="bi bi-arrow-up-circle-fill bg-light"></i>
          </div> 
        </div>
      </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>